@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&family=Sansita+Swashed:wght@500&display=swap');

:root {
    --soumiya-: #BE50F4;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Raleway'; */
}

.purple {
    color: var(--soumiya-);
    font-family: 'Sansita Swashed', cursive;
    text-transform: capitalize;
}

body {
    background-color: #000000;
}

header {
    background-color: var(--bs-gray-900);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    z-index: 1;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    margin-bottom: 3rem;
}

.logo {
    color: var(--soumiya-);
    font-size: 1.2rem;
    margin-left: 2rem;
}

.nav-links {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
}

ul li {
    list-style-type: none;
}

a {
    color: var(--bs-gray-400);
    text-decoration: none;
    text-transform: uppercase;
}

.nav-bar {
    height: 20px;
    width: 40px;
    margin-right: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    display: none;
}

.link-1,
.link-2,
.link-3 {
    background-color: var(--soumiya-);
    height: 30%;
    width: 100%;
    margin-top: 6px;
    transition: 300ms ease-in-out;
}

.resume {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.resume-btn {
    background-color: rgb(111, 4, 111);
    width: 320px;
    padding: 0px 30px;
    color: rgb(255, 251, 251);
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    outline: none;
}

.load {
    color: #adb5bd;
    font-size: 1.8rem;
}

.footer {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bs-gray-900);
    color: var(--soumiya-);
    height: 15vh;
}

.footer-icon {
    font-size: 1.5rem;
    display: flex;
    width: 20%;
    justify-content: space-between;
}

.footer-icon>i {
    cursor: pointer;
}
//media query
@media screen and (max-width:920px) {
    .resume {
        margin-top: 15rem;
    }
}
@media screen and (max-width:420px) {
    .resume {
        margin-top: 8rem;
    }

    .resume>h1 {
        /* margin-top: 0px; */
    }

    .resume-btn {
        background-color: rgb(111, 4, 111);
        width: 280px;
        padding: 20px 30px;
        color: rgb(255, 251, 251);
        font-size: 1.6rem;
        cursor: pointer;
        border-radius: 6px;
        border: none;
        outline: none;
    }
}
