@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&family=Sansita+Swashed:wght@500&display=swap');
      @import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");


:root {
    --soumiya-: #BE50F4;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Raleway'; */
}

.purple {
    color: var(--soumiya-);
    font-family: 'Sansita Swashed', cursive;
    text-transform: capitalize;
}

body {
    background-color: #000000;
}

header {
    background-color: var(--bs-gray-900);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
    margin-bottom: 3rem;
}

.logo {
    color: var(--soumiya-);
    font-size: 1.2rem;
    margin-left: 2rem;
}

.nav-links {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
}

ul li {
    list-style-type: none;
}

a {
    color: var(--bs-gray-400);
    text-decoration: none;
    text-transform: uppercase;
}

.nav-bar {
    height: 20px;
    width: 40px;
    margin-right: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    display: none;
}

.link-1,
.link-2,
.link-3 {
    background-color: var(--soumiya-);
    height: 30%;
    width: 100%;
    margin-top: 6px;
    transition: 300ms ease-in-out;
}

/*Main grid */
.grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
}

.User_Name {
    margin-left: 6rem;
}
.saravanan{
    font-family:monospace;
    font-size:4rem;
    font-family: "Bruno Ace SC", cursive;
    text-transform: uppercase; 
    background-image: linear-gradient(120deg, #1cdce8, #bb77ed, #f34a62);
    background-size: 200%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: animated-gradient 5s ease-in-out infinite;
}
@keyframes animated-gradient {

    0%,
    100% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}
.outer-heading {
    color: var(--bs-gray-100);
    font-size: 3rem;
}

.inner-heading {
    color: var(--bs-gray-100);
    text-transform: uppercase;
        font-size: 3rem;
        text-transform: capitalize;
            height: 50px;
            line-height: 48px;
            border: 0px solid #ddd;
            overflow: hidden;
}
.inner-heading>span,.front-end {
    color: var(--soumiya-);
    position: relative;
    animation: Anime 13s ease-in-out infinite;
}
@keyframes Anime {

    0%,
    100% {
        top: 0;
    }

    20% {
        top: 0;
    }

    25% {
        top: -50px;
    }

    45% {
        top: -50px;
    }

    50% {
        top: -100px;
    }

    70% {
        top: -100px;
    }

    75% {
        top: -150px;
    }

    95% {
        top: -150px;
    }
}

.programmer {
    margin-top: 6rem;
    width: 500px;
}

img {
    width: 100%;
}

/* Article */
.flex-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.center {
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    color: var(--bs-gray-100);
}

.intro {
    color: var(--soumiya-);
}

.myself {
    width: 650px;
    font-size: 1.6rem;
    font-family: monospace;
}

.line {
    margin-top: 3rem;
    color: var(--bs-gray-400);
}

.avatar {
    width: 300px;
}

.findme {
    margin-bottom: 2rem;
    margin-right: 8rem;
    color: var(--bs-gray-100);
}

.contact {
    font-family: 'Raleway', sans-serif;
    text-align: end;
    margin-bottom: 1.2rem;
}

.icons {
    cursor: pointer;
    display: flex;
    margin: auto;
    gap: 3rem;
    font-size: 2rem;
    justify-content: flex-end;
}

.contact>h1 {
    font-size: 3rem;
    text-transform: uppercase;
}

.contact>h3 {
    margin-top: .5rem;
    font-size: 1rem;
    text-transform: uppercase;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--bs-gray-900);
    color: var(--soumiya-);
    height: 15vh;
}

.footer-icon {
    font-size: 1.5rem;
    display: flex;
    width: 20%;
    justify-content: space-between;
}

.footer-icon>i {
    cursor: pointer;
}

/*Media Query */
@media screen and (max-width:920px) {
.User_Name{
    margin-top: 14rem;
}
 .outer-heading {
     font-size: 60px;
     text-align: start;
 }

 .inner-heading {
    width: 100%;
     text-transform: uppercase;
     font-size: 2rem;
     height: 50px;
     line-height: 48px;
     border: 0px solid #ddd;
     overflow: hidden;
 }

 .saravanan {
     font-size: 42px;
     font-weight: 900;
 }

 .front-end {
     font-size: 24px;
     width:100%;
 }
}


@media screen and (max-width:780px) {
    .grid {
        flex-direction: column;
    }

    .User_Name {
        margin-top: 10rem;
        text-align: start;
        margin-left: -200px;
    }
      .outer-heading {
            color: var(--bs-gray-100);
            font-size: 3.5rem;
            margin-top: 3.5rem;
        }
    .saravanan{
        font-size: 48px;
    }
        .inner-heading {
            color: var(--bs-gray-100);
            text-transform: uppercase;
            font-size:2.5rem;
            text-transform: capitalize;
            height: 50px;
            line-height: 48px;
            border: 0px solid #ddd;
            overflow: hidden;
        }

    .programmer {
        margin-top: 1rem;
        width: 650px;
    }
}

@media screen and (max-width:575px) {


    body {
        background: url(ivana-cajina-asuyh-_ZX54-unsplash.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }

    header {
        position: fixed;
        width: 100%;
        justify-content: space-between;
    }

    .logo {
        font-size: 1.4rem;
    }

    .nav-links {
        position: fixed;
        top: 15vh;
        border-top: 1px solid var(--bs-gray-400);
        flex-direction: column;
        height: 45vh;
        width: 100%;
        background-color: var(--bs-gray-900);
        transform: translateY(-120%);
        transition: transform 600ms;
        z-index: -1;
    }

    .nav-bar {
        display: block;
    }

    .grid {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .User_Name {
        margin-top: 12rem;
        text-align: start;
        margin-left: -50px;
    }
    .outer-heading {
    color: var(--bs-gray-100);
    font-size: 2.5rem;
}

.inner-heading {
    color: var(--bs-gray-100);
    text-transform: uppercase;
    font-size: 1.8rem;
    text-transform: capitalize;
    height: 50px;
    line-height: 48px;
    border: 0px solid #ddd;
    overflow: hidden;
}
   
    .programmer {
        margin-top: 1rem;
        width: 350px;
    }

    /* Article */
    .flex-2 {
        flex-direction: column;
    }

    .center {
        text-transform: uppercase;
        text-align: center;
        font-size: 1.3rem;
        color: var(--bs-gray-100);
    }

    .myself {
        width: 350px;
        font-size: 1.3rem;
        margin: auto;
        padding: 12px;
    }

    .line {
        margin-top: 3rem;
        color: var(--bs-gray-400);
    }

    .avatar {
        width: 250px;
    }

    .findme {
        margin: auto;
        margin-bottom: 2rem;
    }

    .contact {
        text-align: center;
        color: var(--bs-gray-100);
    }

    .contact>h1 {
        font-family: cursive;
        font-size: 2rem;
    }

    .contact>h3 {
        font-size: 1rem;
    }

    .icons {
        display: flex;
        margin: auto;
        gap: 2rem;
        font-size: 2rem;
        justify-content: center;
    }

    .footer {
        flex-direction: column;
        text-align: center;
        font-size: .8rem;
        color: var(--soumiya-);
    }
}

@media screen and (max-width:425px) {
    header {
        position: fixed;
        justify-content: space-between;
    }

    .logo {
        font-size: 1rem;
    }

    .nav-bar {
        display: block;
    }
        .outer-heading{
             margin-top: -1rem;
             margin-left: 22px;
            font-size: 40px;
            text-align:start;
            margin-left: 50px;
    }
    .inner-heading{
    text-transform:uppercase;
    font-size: 2rem;
    height: 50px;
    line-height: 48px;
    border: 0px solid #ddd;
    overflow: hidden;
    }
        .saravanan {
            font-size: 35px;
            font-weight: 900;
        }
        .front-end{
            font-size:1.9rem;
        }

    .programmer {
        margin-top: 1rem;
        width: 389px;
    }

    /* Article */
    .flex-2 {
        flex-direction: column;
    }

    .center {
        text-transform: uppercase;
        text-align: center;
        font-size: 2.2rem;
        color: var(--bs-gray-100);
    }

    .myself {
        width: 390px;
        font-size: 1.8rem;
        padding: 12px;
        margin: auto;
    }

    .line {
        margin-top: 1.4rem;
        color: var(--bs-gray-400);
    }

    .avatar {
        width: 240px;
    }

    .findme {
        margin: auto;
    }

    .contact {
        text-align: center;
        color: var(--bs-gray-100);
    }

    .contact>h1 {
        font-size: 1.8rem;
    }

    .contact>h3 {
        font-size: 1rem;
    }

    .footer {
        flex-direction: column;
        text-align: center;
        font-size: 1rem;
        color: var(--soumiya-);
        margin-top: 2rem;
        height: 30vh;
        font-family: monospace;
    }

    .footer-icon {
        font-size: 1.4rem;
        justify-content: space-between;
        width: 30%;
    }
}

/* After JAVASCRIPT CODES */
.toggleBtn {
    transform: translateY(0%);
}

.new_0 {
    transform: rotate(60deg);
    margin-top: 1rem;
}

.new_1 {
    display: none;
}

.new_2 {
    transform: rotate(120deg);
    margin-top: -.4rem;
}

/* @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvoorCMPrEHJA.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
} */
